@keyframes progress-heart {
  0% {
    transform: translateY(-100%);
  }
  65% {
    transform: scale(0);
  }
  70% {
    transform: scale(0.1);
  }
  75% {
    transform: scale(0.2);
  }
  80% {
    transform: scale(0.3);
  }
  85% {
    transform: scale(0.4);
  }
  90% {
    transform: scale(0.5);
  }
  95% {
    transform: scale(0.6);
  }
  100% {
    transform: translateY(0%) scale(1);
  }
}
@keyframes reverse-progress-heart {
  0% {
    transform: translateY(0) scale(1);
  }
  5% {
    transform: scale(0.7);
  }
  10% {
    transform: scale(0.6);
  }
  15% {
    transform: scale(0.5);
  }
  20% {
    transform: scale(0.4);
  }
  25% {
    transform: scale(0.3);
  }
  30% {
    transform: scale(0);
  }
  100% {
    transform: translateY(-100%) scale(0);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes translateY {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes translateX {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(15px);
  }
}
@keyframes scaleX {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}
@keyframes scale-plate {
  100% {
    transform: scale(0.7);
  }
}
@keyframes fadeout {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  height: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}

.link {
  display: block;
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

.shrikhand {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}

h1 {
  font-size: 1.5625rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5625rem;
  font-weight: 800;
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

.btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 16px 20px;
  color: white;
  border: 0;
  width: fit-content;
  font-size: 0.9375rem;
  z-index: 1;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}
.btn:visited {
  color: white;
}
.btn:hover {
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#ff93e1, #a16be0);
  border-radius: 30px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.btn-heart {
  position: relative;
  width: 2em;
  height: 2em;
  overflow: hidden;
  border: 0;
  background: transparent;
}
.btn-heart--empty {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 2em;
  z-index: 1;
  opacity: 1;
}
.btn-heart--hide {
  position: relative;
  -webkit-background-clip: text;
  background-image: linear-gradient(190deg, #9356DC, #FF79DA);
  color: transparent;
  font-size: 2em;
}
.btn-heart--hide__container {
  max-height: 0;
  transition: max-height 600ms linear;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.btn-heart:active .btn-heart--hide, .btn-heart:hover .btn-heart--hide {
  animation: progress-heart 600ms both ease-in-out;
}
.btn-heart:active .btn-heart--hide__container, .btn-heart:hover .btn-heart--hide__container {
  max-height: 2em;
}
.btn-heart:active .btn-heart--empty, .btn-heart:hover .btn-heart--empty {
  opacity: 0;
  transition: opacity 0ms 600ms linear;
}
.btn-heart:not(:active, :hover) .btn-heart--hide {
  animation: reverse-progress-heart 600ms both;
}

.cards {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.18);
  border: 0;
  margin-bottom: 25px;
}
.cards__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}
.cards--color-quaternary {
  background-color: #f7f7f7;
}
.cards--purple {
  background-color: rgba(147, 86, 220, 0.1);
}
.cards__link {
  display: block;
  height: 100%;
  width: 100%;
}
.cards__icons {
  color: rgba(0, 0, 0, 0.5);
  width: 22%;
  text-align: center;
}
.cards__icons--purple {
  color: #9356DC;
}
.cards__title {
  display: inline;
  min-width: fit-content;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  position: relative;
}
.header__logo {
  text-align: center;
  width: 100%;
}
.header__logo__img {
  width: auto;
  height: 33px;
  padding: 4px 0 0 0;
}
.header__icon {
  position: absolute;
  left: 25px;
  color: rgba(0, 0, 0, 0.8);
}

.main {
  width: 100%;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-header__img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}

.footer {
  background-color: #353535;
  width: 100%;
  height: 100%;
}
.footer li {
  list-style-type: none;
}
.footer-content {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  padding: 15px 20px;
  color: #f7f7f7;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .footer-content {
    max-width: 515px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-content--home {
    max-width: 540px;
  }
}
.footer__title {
  font-size: 1.125rem;
  font-weight: normal;
  margin-bottom: 15px;
}
@media screen and (min-width: 1024px) {
  .footer__title {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .footer__list {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
  }
}
.footer__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 1024px) {
  .footer__item {
    width: 25%;
    justify-content: center;
  }
}
.footer__item__icon {
  margin-right: 10px;
  width: fit-content;
}
.footer__link {
  font-size: 1rem;
}

.load {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: white;
  animation: fadeout 2.3s both;
}
.load__text {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 50px auto;
}
.load__icons {
  margin-top: 20px;
}
.load__icon {
  font-size: 3em;
  margin: 0 15px;
  animation: loader infinite 0.3s alternate;
}
.load__icon--color-primary {
  color: #9356DC;
}
.load__icon--color-secondary {
  color: #FF79DA;
}
.load__icon--color-tertiary {
  color: #99E2D0;
}
.load__icon--color-quaternary {
  color: #f7f7f7;
}
.load__icon--color-quinary {
  color: #353535;
}
.load__icon--1 {
  animation-delay: 0s;
}
.load__icon--2 {
  animation-delay: 0.1s;
}
.load__icon--3 {
  animation-delay: 0.2s;
}

.location {
  background-color: #eaeaea;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.1);
}
.location__icon {
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.8);
}
.location__text {
  font-weight: 500;
}

.presentation {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 35px 0;
  text-align: center;
}
.presentation--color-quaternary {
  background-color: #f7f7f7;
}
.presentation__title {
  width: 65%;
  max-width: 250px;
  min-width: 187px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .presentation__title {
    max-width: 540px;
  }
}
.presentation__paragraph {
  font-size: 1.125rem;
  font-weight: 400;
  width: 80%;
  max-width: 416px;
  min-width: 315px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .presentation__paragraph {
    max-width: 540px;
  }
}
.presentation__btn {
  margin-bottom: 10px;
}

.functioning {
  padding: 35px 20px;
  margin: 10px auto 0;
  max-width: 1440px;
}
@media screen and (max-width: 767px) {
  .functioning {
    max-width: 515px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .functioning {
    max-width: 540px;
  }
}
.functioning__title {
  margin: 0 0 30px -15px;
}
@media screen and (min-width: 1024px) {
  .functioning__title {
    margin: 0 0 30px 0;
  }
}
.functioning__list {
  list-style-type: none;
}
@media screen and (min-width: 1024px) {
  .functioning__list {
    display: flex;
    width: 100%;
    height: 100%;
  }
}
.functioning__cards {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  min-height: 70px;
  min-width: fit-content;
  margin: 0 auto;
  padding: 0 1% 0 0;
  margin-bottom: 25px;
  counter-increment: number;
}
@media screen and (min-width: 1024px) {
  .functioning__cards {
    width: 30%;
  }
}
.functioning__cards::before {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #9356DC;
  color: #f7f7f7;
  font-size: 0.8125rem;
  padding: 2px;
  margin-left: -10px;
  content: counter(number);
}

.restaurant {
  padding: 50px 20px 20px;
  margin: 0 auto;
  max-width: 1440px;
}
@media screen and (max-width: 767px) {
  .restaurant {
    max-width: 515px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurant {
    max-width: 540px;
  }
}
.restaurant-container {
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
}
.restaurant__title {
  margin-bottom: 25px;
}
.restaurant__list {
  list-style-type: none;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  width: 100%;
  margin-bottom: 25px;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .restaurant__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant__item {
    width: 48%;
  }
}
.restaurant__cards {
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 255px;
  max-height: 255px;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .restaurant__cards {
    height: 300px;
    max-height: 300px;
  }
}
.restaurant .img-container {
  width: 100%;
  height: 178.5px;
}
@media screen and (min-width: 1200px) {
  .restaurant .img-container {
    height: 210px;
  }
}
.restaurant .img-container > .img-tag {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 10px;
  background-color: #99E2D0;
  border: 1px solid #99E2D0;
  color: #278870;
  font-weight: 500;
  font-size: 0.875rem;
  border-radius: 3px;
}
.restaurant .card-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  margin: auto 0;
  align-items: center;
  width: 100%;
  height: 30%;
}
.restaurant .card-content__text {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: auto 0;
  padding: 15px;
  width: 70%;
}
.restaurant .card-content__text__title {
  margin-bottom: 5px;
  font-weight: 800;
}
.restaurant .card-content__text__description {
  font-size: 1.0625rem;
  font-weight: 400;
}
.restaurant .card-content__btn {
  width: 30%;
  margin: auto;
  text-align: center;
}

.menu {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1400px;
}
@media screen and (max-width: 767px) {
  .menu {
    max-width: 515px;
  }
}
.menu-container {
  background-color: #f7f7f7;
  border-radius: 40px 40px 0 0;
  transform: translate(0, -50px);
  margin: 0 auto -50px;
}
.menu__title-btn-heart {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.menu__title {
  font-size: 1.75rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__btn-heart {
  margin-right: 30px;
}
.menu__section {
  animation: opacity 1.5s ease-in-out both, translateY 1s ease-in-out both;
}
.menu__section--1 {
  animation-delay: 0.5s;
}
.menu__section--2 {
  animation-delay: 1s;
}
.menu__section--3 {
  animation-delay: 1.5s;
}
@media screen and (min-width: 1024px) {
  .menu__section {
    width: 32%;
    margin: 0 auto;
  }
}
.menu__section-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .menu__section-container {
    flex-direction: row;
  }
}
.menu__section__title {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.menu__section__title::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-top: 5px;
}
.menu__input {
  display: none;
}
.menu__input:checked + .menu__cards .menu__check {
  opacity: 1;
  width: 20%;
  transform: translateX(15px);
}
.menu__input:checked + .menu__cards .menu__check__icon {
  transform: rotate(360deg);
}
.menu__cards {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  max-height: 70px;
  padding: 15px;
  overflow: hidden;
}
.menu__name-description {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.menu__name {
  font-size: 1.125rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__description {
  font-size: 0.9375rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}
.menu__check {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 70px;
  background-color: #99E2D0;
  color: white;
  border-radius: 0 15px 15px 0;
  width: 0%;
  will-change: min-width, width, opacity, transform;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.menu__check__icon {
  font-size: 1.375rem;
  transform: rotate(0);
  transition: transform 0.5s 0.2s ease-in-out;
}
.menu__btn {
  margin: 20px auto;
  width: 100%;
  max-width: 180px;
}

/*# sourceMappingURL=style.css.map */
