.btn {
    background: linear-gradient(get-color(color-secondary), get-color(color-primary));
    border-radius: map-get($border-radius, large);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 16px 20px;
    color: white;
    border: 0;
    width: fit-content;
    font-size: map-get($font-size, 15px);
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;

    &:visited {
        color: white;
    }

    &:hover {
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);

        &::after {
            opacity: 1;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(lighten(get-color(color-secondary), 5%), lighten(get-color(color-primary), 5%));
        border-radius: map-get($border-radius, large);
        opacity: 0;
        z-index: -1;
        transition: opacity 0.3s ease-in-out;
    }
}

.btn-heart {
    position: relative;
    width: 2em;
    min-width: 2em;
    height: 2em;
    overflow: hidden;
    border: 0;
    background: transparent;

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &--empty {
            font-size: 2em;
            z-index: 1;
            opacity: 1;
        }

        &--hide {
            -webkit-background-clip: text;
            background-clip: text;
            background-image: linear-gradient(190deg, get-color(color-primary), get-color(color-secondary));
            color: transparent;
            font-size: 2em;

            &-container {
                max-height: 0;
                transition: max-height 600ms linear;
                overflow: hidden;
                z-index: 2;
            }
        }
    }

    &:active,
    &:hover {
        .btn-heart__icon--hide {
            animation: progress-heart 600ms both ease-in-out;
        }

        .btn-heart__icon--hide-container {
            max-height: 2em;
        }

        .btn-heart__icon--empty {
            opacity: 0;
            transition: opacity 0ms 600ms linear;
        }
    }

    &:not(:active, :hover) {
        .btn-heart__icon--hide {
            animation: reverse-progress-heart 600ms both;
        }
    }

}