.shrikhand {
    font-family: 'Shrikhand', cursive;
    font-weight: 500;
}

h1 {
    font-size: map-get($font-size, 25px);
    font-weight: 800;
}

h2 {
    font-size: map-get($font-size, 25px);
    font-weight: 800;
}

h3 {
    font-size: map-get($font-size, 18px);
    font-weight: 700;
}