.load {
    @include flex-container;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: white;
    animation: fadeout 2.3s both;


    &__text {
        font-size: map-get($font-size, 18px);
        font-weight: 500;
        margin: 50px auto;
    }

    &__icons {
        margin-top: 20px;
    }

    &__icon {
        font-size: 3em;
        margin: 0 15px;
        animation: loader infinite 0.3s alternate;

        @each $key,
        $value in $color-name {
            &--#{$key} {
                color: $value;
            }
        }

        @for $i from 1 through 3 {
            &--#{$i} {
                animation-delay: calc(($i - 1) * 0.1s);
            }
        }
    }
}

.location {
    background-color: darken(get-color(color-quaternary), 5%);
    width: 100%;
    text-align: center;
    padding: 15px 0;
    box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.1);

    &__icon {
        margin-right: 10px;
        color: rgba(black, 0.8);
    }

    &__text {
        font-weight: 500;
        border: 0;
        background-color: transparent;
        width: 130px;
    }
}

.presentation {
    @include flex-container;
    flex-direction: column;
    align-items: center;
    padding: 35px 0;
    text-align: center;

    &--color-quaternary {
        background-color: get-color(color-quaternary);
    }

    &__title {
        width: 65%;
        max-width: 250px;
        min-width: 187px;
        margin-bottom: 15px;

        @include tablet-and-more {
            max-width: 540px;
        }
    }

    &__paragraph {
        font-size: map-get($font-size, 18px);
        font-weight: 400;
        width: 80%;
        max-width: 416px;
        min-width: 315px;
        margin-bottom: 30px;

        @include tablet-and-more {
            max-width: 540px;
        }
    }

    &__btn {
        margin-bottom: 10px;
    }
}

.functioning {
    padding: 35px 20px;
    margin: 10px auto 0;
    max-width: 1440px;

    @include mobile-only {
        max-width: 515px;
    }

    @include tablet-only {
        max-width: 540px;
    }

    &__title {
        margin: 0 0 30px -15px;
        @include desktop-and-more {
            margin: 0 0 30px 0;
        }
    }

    &__list {
        list-style-type: none;

        @include desktop-and-more {
            @include flex-container;
        }
    }

    &__cards {
        @include flex-container;
        align-items: center;
        min-height: 70px;
        min-width: fit-content;
        margin: 0 auto;
        padding: 0 1% 0 0;
        margin-bottom: 25px;
        counter-increment: number;

        @include desktop-and-more {
            width: 30%;
        }

        &::before {
            // This is the number brefore the card.
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            background-color: get-color(color-primary);
            color: get-color(color-quaternary);
            font-size: map-get($font-size, 13px);
            padding: 2px;
            margin-left: -10px;
            content: counter(number);
        }
    }
}

.restaurant {
    padding: 50px 20px 20px;
    margin: 0 auto;
    max-width: 1440px;

    @include mobile-only {
        max-width: 515px;
    }

    @include tablet-only {
        max-width: 540px;
    }

    &-container {
        background-color: get-color(color-quaternary);
    }

    &__title {
        margin-bottom: 25px;
    }

    &__list {
        list-style-type: none;
        @include flex-container;
        flex-direction: column;
        width: 100%;
        margin-bottom: 25px;
        height: 100%;

        @include desktop-and-more {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &__item {
        @include desktop-and-more {
            width: 48%;
        }
    }

    &__cards {
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        height: map-get($cards-height, restaurant);
        max-height: map-get($cards-height, restaurant);
        position: relative;

        @include large-screen-and-more {
            height: map-get($cards-height, restaurant-large-screen);
            max-height: map-get($cards-height, restaurant-large-screen);
        }
    }

    .img-container {
        width: 100%;
        height: calc(map-get($cards-height, restaurant) * 70/100);
        @include large-screen-and-more {
            height: calc(map-get($cards-height, restaurant-large-screen) * 70/100);
        }

        >.img-tag {
            position: absolute;
            top: 15px;
            right: 15px;
            padding: 5px 10px;
            background-color: get-color(color-tertiary);
            border: 1px solid get-color(color-tertiary);
            color: darken(get-color(color-tertiary), 40%);
            font-weight: 500;
            font-size: map-get($font-size, 14px);
            border-radius: map-get($border-radius, very-small);
        }
    }

    .card-content {
        @include flex-container;
        flex-direction: row;
        margin: auto 0;
        align-items: center;
        width: 100%;
        height: 30%;

        &__text {
            @include flex-container;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            margin: auto 0;
            padding: 15px;
            width: 70%;

            &__title {
                margin-bottom: 5px;
                font-weight: 800;
            }

            &__description {
                font-size: map-get($font-size, 17px);
                font-weight: 400;
            }
        }

        &__btn {
            width: 30%;
            margin: auto;
            text-align: center;
        }
    }
}